<h2>questionsController#answer</h2>
  <div>
  <h3> <%= @reply %> </h3>
  </div>
  <div>
    <%= link_to "Ask me again!", ask_path %>
  <br>
  </div>
  <p>Find me in app/views/questions/answer.html.erb</p>
